@model LimitProject.Web.Models.ClientViewModel

@{
    ViewData["Title"] = "Get";
}



<div>
    <h4>Detailed Search</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgencyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgencyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTransaction)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Update", "Edit", new { id = Model.ClientId }) |
    <a asp-action="Index">Back to List</a>
</div>
